# 1. Java 编译产生的文件
*.class
*.jar
*.war
*.ear
*.db

# 2. IDE 配置文件
# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/

# 3. 构建工具生成的文件
# Maven
target/

# Gradle
.gradle/
build/

# 4. 系统文件
.DS_Store  # macOS
Thumbs.db  # Windows

# 5. 日志文件
*.log

# 6. 其他可能的临时文件
*.bak
*.swp

*.flattened-pom.xml