package ${package.Controller}.vo;

 import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.ToString;

@Schema(description = "$!{table.comment} Request VO")
@Data
@ToString(callSuper = true)
public class ${entity}ReqVO
{

}